<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pegasus.kafka.mapper.SysLagMapper">
    <select id="listTopLag" resultType="com.pegasus.kafka.entity.dto.SysLag">
    SELECT
    DISTINCT
    a.consumer_name,
    a.lag
    FROM `sys_lag` AS a
    INNER JOIN
    (
        SELECT
        consumer_name,
        MAX(create_time) AS create_time
        FROM `sys_lag`
        GROUP BY consumer_name
        LIMIT ${top}
    ) AS b ON a.consumer_name = b.consumer_name AND a.create_time = b.create_time
    ORDER BY a.lag DESC
    </select>

    <insert id="batchSave">
        INSERT IGNORE INTO `sys_lag`
        (
        `consumer_name`,
        `topic_name`,
        `offset`,
        `lag`,
        `create_time`
        )
        VALUES
        <foreach collection="sysLagList" item="item" separator=",">
            (
            #{item.consumerName},
            #{item.topicName},
            #{item.offset},
            #{item.lag},
            #{item.createTime}
            )
        </foreach>
    </insert>
</mapper>